---
import Base from "../layouts/Base.astro";
---

<Base title="ai-for-less-suffering">
  <div class="flex h-full items-center justify-center">
    <pre
      class="text-center text-[14vmin] leading-none text-zinc-100">{`<3<3<3
❤️❤️❤️`}</pre>
  </div>
</Base>
